doctype html
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
html(lang='ru')
    head
        link(rel="stylesheet", href="./main.scss")
    body
        div(class='auth-container')
            div(class='auth-layout') Вход

            form
                div(class='input-container')
                    div(class='input-layout') Логин
                    label
                        input(type='text', name='login')

                div(class='input-container')
                    div(class='input-layout') Пароль
                    label
                        input(type='password', name='password')

                div(class='auth-buttons')
                    a(href='../../messenger/messenger/messenger.pug')
                        button(class='custom-button', type='button') Авторизоваться

                    div(class='custom-link')
                        a(href='../register/register.pug') Нет аккаунта?