doctype html
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
html(lang='ru')
    head
        link(rel='stylesheet', href='../profile/profile.scss')
        link(rel='stylesheet', href='../editProfile/editProfile.scss')
    body
        div(class='profile-page-container')
            div(class='left-side')
                div(class='send-button')
                    a(href='../messenger/messenger.pug')
                        img(src='../../../../static/icons/right-arrow.svg', style='transform: rotate(180deg);')
            form(class='profile-content-box')
                button(type='button', name='avatar', class='profile-pic-box')
                    img(src='../../../../static/icons/image-icon.svg')
                div(class='user-info-box')
                    div(class='item')
                        label Старый пароль
                        input(value='tigro000', type='password', name='email')
                    div(class='item')
                        label Логин
                        input(value='tigro000', type='password', name='login')
                    div(class='item')
                        label Имя
                        input(value='tigro123777', type='password', name='first_name')
                br
                button(class='save-button')
                    a(href='../profile/profile.pug') Сохранить