@import '../../../styles/variables';

* {
  font-family: Inter, sans-serif;
}

.profile-page-container {
  display: flex;

  .left-side {
    background-color: $light-block-gray;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 18px;
    border-right: 1px solid $light-gray;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .profile-content-box {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 21px;

    .user-info-box {
      display: flex;
      flex-direction: column;

      .item {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        box-sizing: content-box;

        input {
          border: 0;
          &:focus {
            outline: none;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid $light-gray;
        }

        label {
          margin-right: .5rem;
        }

        label, input, span {
          font-size: 15px;
        }

        span, input {
          color: $dark-gray;
        }
      }
    }

    .actions-box {
      display: flex;
      flex-direction: column;
      width: 600px;

      .error {
        color: $error;
      }

      a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $light-gray;
        text-decoration: none;
        color: $primary;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .profile-name {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    .editable {
      &:after {
        content: 'Поменять \Aаватар';
        white-space: pre;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        font-size: 14px;
        color: #fff;
        opacity: 0;
        transition: all .3s ease-in-out;
        text-align:center;
        position: absolute;
      }

      &:hover::after {
        opacity: .8;
        background-color:#00000080;
      }
    }

    .profile-pic-box {
      width: 130px;
      height: 130px;
      border: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $light-profile-pic;

      border-radius: 100%;


      position: relative;
    }


  }

}