.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  * {
    font-family: 'Inter', sans-serif;
  }

  .layout {
    font-weight: 500;
    font-size: 40px;
    text-align: center;

    color: #1E1E1E;
  }

  .description {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    color: #1E1E1E;
  }

  a {
    margin-top: 60px;
    color: #3369F3;
    text-decoration: none;
  }
}